@model int
<div class="row">
    <div class="col text-center">
        <button type="submit" class="btn btn-primary " style="width:98%" asp-route-id="@Model">Update</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success " style="width:99%">Back to List</a>
    </div>
</div>